@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "nullstyle.scss";

._ibj {
  position: relative;
}
._ibj img {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  object-fit: cover;
}

body {
  font-family: "NunitoSans", "Arial", sans-serif;
  font-size: 0;
}
sub sup {
  margin: 0;
  padding: 0;
  top:0;
  left: 0;
  font-size: 12px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .calculator {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 5px;
    background: #606060;
    width: 322px;
    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      padding: 0 10px 0 10px;
      height: 100px;
      &-history {
        font-size: 20px;
        font-weight: bold;
        color: #B8BBD2;
        height: 17px;
        text-align: right;
      }
      &-result {
        font-size: 42px;
        font-weight: bold;
        color: white;
        text-align: right;
      }
    }
    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      &-button {
        width: 75px;
        height: 50px;
        margin: 1px;
        font-size: 18px;
        color: white;
        background: #2C2C2C;
      }
      .number-button {
        background: black;
      }
      .red-button {
        background: #EB801D;
      }
    }
  }
}



