@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "colors.scss";
@import "nullstyle.scss";

body {
  font-family: "NunitoSans", "Arial", sans-serif;
  font-size: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .calculator {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 5px;
    background: $gray-2;
    width: 320px;

    .display {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      margin: 10px;
      width: 315px;

      &__history {
        font-size: 22px;
        height: 17px;
        font-weight: normal;
        color: $white-5;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__result {
        font-size: 42px;
        height: 42px;
        font-weight: bold;
        color: $white-3;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      &__element {
        width: 75px;
        height: 50px;
        margin: 1px;
        font-size: 18px;
        color: white;
        &_operation {
          background: $black-2;
        }
        &_number {
          background: black;
        }
        &_equal {
          background: $orange-2;
        }
      }
    }
  }
}



